<div class="root">
    <div class="header">
        <h1>My Databases</h1>
        <label *ngIf="databases.length == 0">You do not have any databases, create a new database below</label>
    </div>
    <div *ngFor="let database of databases">
        <mat-card>
            <div class="row">
                <div class="col-start">
                    <a matTooltip="Open database: {{database.name}}">{{database.name}}</a>
                </div>
                <div class="col-end">
                    <a><mat-icon matTooltip="Open database: {{database.name}}" color="accent" >code</mat-icon></a>
                    <a (click)="openRenameDatabaseDialog(database.name)"><mat-icon matTooltip="Rename database: {{database.name}}" color="warn" >edit</mat-icon></a>
                    <a (click)="openConfirmDeleteDialog(database.name)"><mat-icon matTooltip="Delete database: {{database.name}}" color="primary" >delete_forever</mat-icon></a>
                </div>
            </div>
        </mat-card>
        <div class="card-spacer"></div>
    </div>
    
    <mat-card>
        <h2>Create New Database</h2>
        <div class="row">
            <mat-form-field class="col-start">
                <mat-label>Database Name</mat-label>
                <input matInput type="text" [(ngModel)]="newDB">
            </mat-form-field>
        </div>
        <div class="row">
            <div></div>
            <div class="col-end">
                <button mat-raised-button (click)="addDBs()">Create Database</button>
            </div>
        </div>
    </mat-card>
</div>