<div class="content">
    <div class="row">
        <div class="col-75">
            <mat-form-field class="attributes">
                <mat-label>Select a Database</mat-label>
                <mat-select [ngModel]="selected" (ngModelChange)="showDB($event)">
                    <mat-option *ngFor="let db of databases" value={{db.name}}>{{db.name}}</mat-option>
                    <mat-option *ngIf="databases.length == 0" value="none">No database available</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-25"></div>
    </div>
    
    <div class="separator"></div>

    <div class="row">
        <div class="col-75">
            <h2>Queries</h2>
        </div>
        <div class="col-25" *ngIf="database">
            <h2>Tables</h2>
        </div>
    </div>

    <hr>
    <div class="separator"></div>

    <div class="row">
        <div class="col-75">
            <mat-form-field class="attributes">
                <mat-label>Choose Query</mat-label>
                <mat-select [(ngModel)]="selectedQuery">
                    <mat-option *ngFor="let query of queries" [value]="query.query">
                        {{query.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="database">
                <div *ngFor="let table of database.tables">
                    <app-data-manipulation-query *ngIf="database.tables.indexOf(table) == 0" [database]="database" [tableNames]="tableNames" [databaseNames]="getDatabaseNames()" [query]="selectedQuery"></app-data-manipulation-query>
                </div>
            </div>
            <div *ngIf="!database">
                <app-data-manipulation-query [database]="database" [databaseNames]="getDatabaseNames()" [query]="selectedQuery"></app-data-manipulation-query>
            </div>
        </div>

        <div class="col-25" *ngIf="database">
            <div>
                <div *ngIf="database.tables.length == 0">
                    <p>Database Has No Tables Yet.</p>
                </div>
                <div *ngFor="let table of database.tables">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{table.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>

                        <label>Columns</label>
                        <div class="separator"></div>

                        <div *ngFor="let column of table.columns">
                            <mat-card>
                                <label>Column: {{column.name}}</label>
                                <div class="ml-10">
                                    <div class="col">
                                        <mat-label>Name:</mat-label>
                                        <mat-label class="text-right">{{column.name}}</mat-label>
                                    </div>
                                    <div class="col">
                                        <mat-label>Type:</mat-label>
                                        <mat-label class="text-right">{{column.type}}</mat-label>
                                    </div>
                                </div>

                                <label>Attributes</label>
                                <div class="ml-10">
                                    <div class="col">
                                        <mat-label>Is Primary Key:</mat-label>
                                        <mat-label class="text-right">{{column.attributes.primary_key}}</mat-label>
                                    </div>
                                    <div class="col">
                                        <mat-label>Is Unique:</mat-label>
                                        <mat-label class="text-right">{{column.attributes.unique}}</mat-label>
                                    </div>
                                </div>
                                <label>Foreign Key</label>
                                <div class="ml-10">
                                    <div class="col">
                                        <mat-label>Ref Table:</mat-label>
                                        <mat-label class="text-right">{{column.attributes.foreign_key.table ? column.attributes.foreign_key.table : "none"}}</mat-label>
                                    </div>
                                    <div class="col">
                                        <mat-label>Ref Column:</mat-label>
                                        <mat-label class="text-right">{{column.attributes.foreign_key.column ? column.attributes.foreign_key.column : "none"}}</mat-label>
                                    </div>
                                </div>
                            </mat-card>
                            <div class="separator"></div>
                        </div>
                    </mat-expansion-panel>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    * {
        box-sizing: border-box;
    }

    .text-right {
        text-align: right;
    }

    .ml-10 {
        display: flex;
        flex-direction: column;
        margin: 0 5px;
        width: 100%;
    }

    .content {
        margin: 10px;
    }

    .row {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .row::after {
        content: "";
        clear: both;
    }

    .col {
        display: flex;
        justify-content: space-between;
        min-width: 100%;
    }

    .col-25 {
        width: 35%;
    }

    .col-75 {
        width: 65%;
    }

    .col-75 {
        width: 100%;
    }

    .selector{
        text-align: left;
    }
    .separator{
        height: 10px;
    }

    button {
        width: 100%;
    }

    .columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .attributes {
        width: 100%;
    }

    label {
        font-weight: bold;
    }

    @media only screen and (min-width: 600px) {
        .col {
            width: 50%;
        }
    }
    
</style>